<footer class="footer">
    <div class="footer-row">
        {{ range .Site.Sections }}
            {{ $section := . }}
            {{ with .OutputFormats.Get "rss" }}
                <a class="footer-item" href="{{ .Permalink }}">
                    Feed of {{ $section.Section | humanize }}
                    <i class="icofont-rss"></i>
                </a>
            {{ end }}
        {{ end }}

        {{ if not (or .IsHome .IsSection) }}
            {{ $term := . }}
            {{ with .OutputFormats.Get "rss" }}
                <a class="footer-item" href="{{ .Permalink }}">
                    Feed of "{{ $term.Title }}"
                    <i class="icofont-rss"></i>
                </a>
            {{ end }}
        {{ end }}
    </div>

    {{ range .Site.Params.footer_rows }}
        <div class="footer-row">
            {{ range .items }}
                {{ with .pre }}
                    <span class="footer-item">{{ . | safeHTML }}</span>
                {{ else }}
                    <a class="footer-item" href="{{ .url }}">{{ .name }}</a>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}
</footer>
