<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1">

{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{/* load mermaid if any mermaid code block */}}
{{ if .Page.Store.Get "hasMermaid" }}
    <script src="{{ "js/meraid-9.0.0.min.js" | relURL }}"></script>
    <script>mermaid.initialize({ startOnLoad: true });</script>
{{ end }}

{{/* load katex if enabled on front matter */}}
{{ if .Params.katex }}
    <link rel="stylesheet" href="{{ "lib/katex/katex.min.css" | relURL }}">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="{{ "lib/katex/katex.min.js" | relURL }}"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="{{ "lib/katex/contrib/auto-render.min.js" | relURL }}"
        onload="renderMathInElement(document.body);"></script>
{{ end }}

{{ with and .Site.Params.remark42 .Params.show_comments }}
    {{ $remark42 := $.Site.Params.remark42 }}
    <script>
        var remark_config = {
            host: '{{ $remark42.host }}',
            site_id: '{{ $remark42.site_id }}',
            components: ['embed', 'last-comments'],
            max_shown_comments: {{ $remark42.max_shown_comments }},
            theme: '{{ $remark42.theme }}',
            page_title: '{{ $remark42.Title }}',
            locale: '{{ $remark42.locale }}',
            show_email_subscription: {{ $remark42.show_email_subscription }},
            simple_view: {{ $remark42.simple_view }}
        };

        !function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);
    </script>
{{ end }}

<link rel="stylesheet" href="{{ "lib/icofont/icofont.min.css" | relURL }}" />
<link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}" />
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
<link rel="shortcut icon" href="{{ "images/favicon.ico" | relURL }}" type="image/x-icon" />
